/* App.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
}

.sidebar {
  width: 200px;
  transition: transform 0.3s ease-in-out;
  height: calc(100vh - 56px); /* Adjust height to fit between header and footer */
  position: fixed;
  top: 56px; /* Adjust based on header height */
  left: 0;
  display: flex; /* Use flexbox to layout children */
  z-index: 1050;
  flex-direction: column; /* Align children in a column */
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.logout-container {
  margin-top: auto;
  padding: 1px;
  /* padding-bottom: 65px; */
}

/* Adjust content when sidebar is open */
.content.with-sidebar {
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
  transition: margin-left 0.3s ease-in-out;
}

/* Adjust content when sidebar is hidden */
.content.without-sidebar {
  margin-left: 0;
  padding-left: 10px;  /* Reduced padding */
  padding-right: 10px; /* Reduced padding */
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
}

.content {
  flex-grow: 1;
  padding: 20px; /* Default padding for general content */
  transition: padding 0.3s ease-in-out; /* Smooth transition for padding changes */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .content.with-sidebar {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sidebar {
    width: 200px;
    transform: translateX(-100%);
    position: fixed;
    z-index: 1050;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

.sidebar ul {
  flex-grow: 1; /* Allow ul to grow and take up available space */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.sidebar ul li {
  display: flex;
  align-items: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none; /* Remove underline */
  white-space: nowrap; /* Prevent line break */
  overflow: hidden;
  text-overflow: ellipsis; /* Display "..." when text is too long */
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease; /* Add hover effect */
}

.sidebar ul li a:hover {
  background-color: #495057; /* Darker hover color */
}

.sidebar ul li a.active {
  background-color: #515457; /* Highlight active link */
  font-weight: bold;
}

/* Optional: Adjust the tooltip's appearance (default browser tooltip) */
.sidebar ul li a[title] {
  cursor: pointer;
}

.sidebar .btn {
  margin-top: auto; /* Push logout button to the bottom */
  /* margin-bottom: ; */
}

footer {
  flex-shrink: 0; /* Prevent footer from shrinking */
  /* Add other footer styles if necessary */
}
